* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
 
  body{
      margin: 0;
      background-color: #f6f4e8;
  }
  navbar{
    background-color: #f6f4e8;
    margin-right: auto;
    margin-left: auto;
  }

  .navbar-toggler{
    border-color: black;
  } 
  
  .menudecorated{
    background-color: white;
    border-top: solid 2px #753500;
  }
  .nav-link{
    font-size: 1.4em;
    height: 3em;
    color: #753500;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
  
  }
  
.receta{
    background-color: white;
    height: auto;
    box-shadow: 1px 1px 2px #b2b2b2;
    margin-bottom: 80px;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
}
.receta section header{
  font-family: 'Pacifico', cursive;
  color: #753500;
  text-align: left;
  font-size: 2em;
  border-top: solid 2px #753500;
  background-color: white;
  height: 90px;
  padding: 15px;
  padding-left: 30px
}
.receta section main{
  font-family: 'Roboto', sans-serif;
  padding: 30px;
  float: left;
  font-size: 1em;
 text-indent: 1em;
}
.receta section main:first-letter {
  font-size: 2em;
}
.receta section img{
  width: 85%;
  margin-left: 7%;
  box-shadow:  1px 1px 2px #888888;
}
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 85%; /* or 950px */
    min-width: 85%;
  }

.recipeList{
  width: 300px;
  width: 300px;
  margin-left: 7%;
  box-shadow:  1px 1px 2px #888888;
}

.recipeList:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.categoryTitle{
    font-family: 'Pacifico', cursive;
    color: #753500;
    text-align: center;
    font-size: 2em;
    border-top: solid 2px #753500;
    background-color: white;
    height: 90px;
    padding: 15px;
    padding-left: 30px;
    padding-bottom: 30px;
}