<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recetas de Chus</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/indexStyles.css" />
    <script type="text/javascript" src="js/indexScript.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="header pt-4 col-sm-12 col-md-12 col-lg-12 col-xl-12"><a href="http://localhost:8080/"><img src="img/web/logop.png" class="mx-auto d-block" alt="logo"></a></div>
        </div>
        <div class="row justify-content-md-center">
          <nav class="navbar navbar-expand-lg navbar-light" role="navigation">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse pt-4 " id="navbarSupportedContent">
                <ul class="navbar-nav menudecorated pl-4 pr-4 menuList">
                  <li class="nav-item">
                    <a class="nav-link" href="#" id="decuchara">De cuchara</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" id="carnes">Carnes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" id="pescados">Pescados</a>
                  </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#" id="postres">Postres</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#" id="pinchos">Pinchos</a>
                    </li>
                </ul>
              </div>
            </nav>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center" id="displayDataDiv">

        </div>
    </div>
</body>
</html>