<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recetas de Chus</title>
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/indexStyles.css" />
  
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="header pt-4 col-sm-12 col-md-12 col-lg-12 col-xl-12"><a href="index.html"><img src="../static/img/web/logop.png" class="mx-auto d-block" alt="logo"></a></div>
        </div>
        <div class="row justify-content-md-center">
          <nav class="navbar navbar-expand-lg navbar-light" role="navigation">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

              <div class="collapse navbar-collapse pt-4" id="navbarSupportedContent">
                <ul class="navbar-nav menudecorated pl-4 pr-4">
                  <li class="nav-item">
                    <a class="nav-link" href="#">Legumbres</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Carnes</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Postres</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Postres</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Postres</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Postres</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Postres</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Postres</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Postres</a>
                    </li>
                </ul>
              </div>
            </nav>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="receta col-sm-12 col-md-8 col-lg-8 col-xl-8">
                <section>
                    <header class="header"><p>Croquetas estilo Chus</p>
                    </header>
                    <img src="../static/img/imagedb/croquetas.jpg" ></img>
                <main>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Q<br/>ui saepe pariatur ea quam ducimus harum rerum molestias, numquam cum, quasi aliquam doloremque quas distinctio officia accusantium sit at officiis reprehenderit.lorem Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br/>
                    Aliquam ea dicta ducimus, totam natus praesentium a nostrum vel maxime iusto tenetur et 
                    quam itaque, doloribus consectetur voluptas numquam magnam quis! Lorem<br/> ipsum dolor sit amet, consect
                    etur adipisicing elit. Veniam sed, assumenda velit aspernatur, cumque veritatis quia voluptate quisquam quod. Fa<br/>cilis porro, modi adipisci reprehenderit id optio aut ex doloribus repellendus!   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est a us impedit assumenda eveniet doloremque reprehenderit ex </main>
                    <footer></footer>
            </section>
            </div>
        </div>
    </div>
</body>
</html>